.button{
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    text-transform: capitalize;
    background-color: rgb(33, 31, 31);
    transition: all .3s ease;
    border: none;
    border-radius:10px ;
    margin-top: 2rem;
}
.button:hover{
    box-shadow: 2px 2px 10px  rgb(122, 125, 122) ;
    border: 2px solid rebeccapurple;
    border-radius:20px ;
    cursor: pointer;
    transition: border .3s, border-radius .5s, box-shadow 1s ease ;
}