.list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 20rem;
    color: darkslategray;
}
.list li:hover{
    color: aliceblue;
    transition: all 1s ease-in-out;
    cursor: pointer;
}